*{
    box-sizing: border-box;
}

body {
    background-color: black;
}
img{
    width: 100%;
}
.padding-10{
    padding: 10px;
}
.row{
    clear: both;
}



@media screen and (min-width:600px) {
 body {
        background-color: red ;
    }
    .col-md-50{
        width: 50%;
        float: left;
    }
    .col-lg-100{
        width: 100%;
    }
    
}
@media screen and (min-width:992px) {
    body{
        background-color: aqua;
    }

.col-lg-25{
    width: 25%;
    float: left;
}
.col-lg-50{
    width: 50%;
    float: left;
}
}
